body {
    font-family: sans-serif;
    background-color: aqua;
    padding: 0;
    margin: 0;
}

section {

    background-color: #fff;
}

.container {
    width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

header {

    background-color: wheat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-brend {
    width: 70px;
    height: 50px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    list-style: none;

}

.list-item {
    padding: 0 20px;
}

.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    color: #000;
    padding: 10px 12px;
    transition: 0.4s;
}

.nav-link:hover {
    color: #fff;

    background-color: #000;
}

.nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-lang {
    display: flex;
     align-items: center;
     cursor: pointer;
}
#lang{
    text-decoration: none;
    text-transform:capitalize;
    font-weight: 500px;
    font-size: 18px;
    /* line-height: 30px; */
    cursor: pointer;
    color: #000;
    padding-right: 5px;
    border: 1px solid transparent;
    background-color: transparent;
}
.bx{
    font-size: 20px;
    margin: 0 8px;
}
.search {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    color: #000;
    padding-top: 5px;
    padding-right: 5px;
}

.row {
    display: flex;
    align-items: center;
}

.left {
    width: 50%;
}

.sub-title {
    padding-top: 80px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.title {
    font-size: 48px;
    line-height: 40px;
    font-style: normal;
    font-weight: 600px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20%;
}

.dec {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 500px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 30%;
}

.hero-btn {
    padding-bottom: 120px;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 14px 24px;
    display: inline-block;
    margin: 0 5px;
    text-transform: capitalize;
    border: 3px solid transparent;
    transition: 0.4s;
}

.btn:hover {
    color: #000;
    border: wheat 3px solid;
    background-color: #fff;
}

.right {
    width: 50%;
    height: 100%;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.aboute {
    padding: 80px 0 50px 0;
}

.aboute-img {
    width: 390px;
    height: 390px;
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    border: 3px solid wheat;
    position: relative;

}

.aboute-img::before {
    content: "";
    width: 390px;
    height: 390px;
    top: -20px;
    left: -15px;
    background-image: url(../img/5.jpg);
    position: absolute;
    background-size: 390px 390px;
    background-repeat: no-repeat;
    object-fit: cover;
    display: inline-block;
}

.about_dec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboute_title {

    font-size: 38px;
    line-height: 40px;
    font-style: normal;
    font-weight: 600px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboute_text {
    text-align: justify;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 500px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.services {
    padding: 120px 0;
}